<div class="d-flex vh-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Wizard Wold</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          <a class="nav-link" routerLink="spells" routerLinkActive="active" ariaCurrentWhenActive="page">Spells</a>
          <a class="nav-link" routerLink="/elixirs" routerLinkActive="active" ariaCurrentWhenActive="page">Elixirs</a>
          <a class="nav-link" routerLink="/feedback-form" routerLinkActive="active" ariaCurrentWhenActive="page">Add your feedback</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <router-outlet></router-outlet>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Final Proyect of the course: Development with Angular from UTN. Student: Shirli Cernotto.</p>
    </footer>
  </div>
</div>
