<h1>Welcome to the Wizard World Page</h1>

<p class="lead" style="padding: 6%;">This webpage is the solution to the final proyect of the course: Development with Angular from UTN. Here you will find information about spells and elixirs obtained from the public API WizardWorldApi (this API is external and not developed by us). Additionally, you will have the possibility to access more detailed information about the spell/elixir you select. Finally, you will also be able to send your feedback through a form that will also use the API to submit the data (unfortunately, the API does not have a method to display the submitted feedbacks, so you will have to trust the process). Thank you very much and... <b>Let's get started!</b></p>

<p class="lead">
  <a routerLink="/spells"  class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn about Spells</a>
  <a routerLink="/elixirs" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn about Elixirs</a>
</p>
